<a href="https://colab.research.google.com/github/cotozelo/Python_diversos/blob/main/src/namedtuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#namedtuple

É uma tupla com seus valores nomeados, lembrando bastante um classe. 
* <a href='https://docs.python.org/pt-br/3.9/library/collections.html#collections.namedtuple'>Documentação</a>

In [1]:
from collections import namedtuple
Carro = namedtuple('Carro', ['aro', 'portas', 'motor', 'cor'])

Acabamos de criar uma namedtuple, com nome de Carro.

In [2]:
uno = Carro(14, 2, 1.5, 'azul')
print(uno)
print(type(uno))
print(type((1, 2)))

Carro(aro=14, portas=2, motor=1.5, cor='azul')
<class '__main__.Carro'>
<class 'tuple'>

Criamos uma instancias chamada uno. O tipo de objeto é Carro, como mostrado.
Por isso que disse que as namedtuple se assemelham muito a classes,  pois seu tipo não é namedtuple, mas o tipo do nome dado, e seus atributos são acessados igual ao de uma classe.

In [3]:
# instancia a namedtuple nomenado os parâmetros
hb20 = Carro(aro=15, portas=4, motor=1.0, cor='verde')
hb20

Carro(aro=15, portas=4, motor=1.0, cor='verde')

Os atributos para criação da namedtuple:
* *defaults*: cria a namedtuple com o valor especificado como padrão.

Os principais métodos internos das namedtuple são:
* *_make*: retorna uma nova instância a partir de uma sequência existente ou iterável.
* *_asdict*: Devolva um dicionário que mapeia os nomes dos campo para seus valores correspondentes.
* *_replace*: Retorne uma nova instância da namedtuple substituindo o valor no campo especificado.
* *_fields*: Devolve uma lista dos nomes dos campos da namedtuple.
* *_field_defaults*: Dicionário mapeando nomes de campo para valores padrão.

In [4]:
Ponto = namedtuple('Ponto', ['x', 'y'], defaults=[2,3])
pontoA = Ponto(x=1, y=2)
print('A namedtuple ', pontoA)
print('_asdict:\t', pontoA._asdict())
print('_replace:\t', pontoA._replace(x=3))
print('_fields:\t', pontoA._fields)
print('_field_defaults:\t', pontoA._field_defaults)
print('_fields_defaults:\t', pontoA._fields_defaults)

A namedtuple  Ponto(x=1, y=2)
_asdict:	 OrderedDict([('x', 1), ('y', 2)])
_replace:	 Ponto(x=3, y=2)
_fields:	 ('x', 'y')
_field_defaults:	 {'x': 2, 'y': 3}
_fields_defaults:	 {'x': 2, 'y': 3}

Como alterar os atriatributos de uma namedtuple que pode ter atributos difdiferentes

In [10]:
# pensa que os atributos podem ser vindo de uma lista de usuários, por exemplo uma lista de compras
compras = ['banana', 'leite', 'sabao', 'ovo']

# com essa lista podemos sim criar um namedtupble
Lista = namedtuple("Lista", ['data', 'mercado'] + compras)
print(Lista)

comprar = Lista('03/06/2021', 'M. São João', 1, 2, 1, 12)
print(comprar)

# Pense agora que recebeu um dicidicionário com valores diferediferentes e quer alterar a namedtuple
# talvez nesse exemplo fosser melhor escolher outra estratégia
# mas não estamos focando na melhor solução para esse problema, mas como alterar a namedtuple

mudanca = {'banana': 2, 'ovo': 3}

<class '__main__.Lista'>
Lista(data='03/06/2021', mercado='M. São João', banana=1, leite=2, sabao=1, ovo=12)

In [20]:
#Mudar o valor do item 
item = list(mudanca.keys())[0]
item

'banana'

In [23]:
# o que não funciona
comprar = comprar._replace(item=12)

ValueError: ignored

O código a cima não funciona pq o _replace não consegue usar o valor de item para saber qual o atributo.
O _replace precisa explicitamente do valor do atributo.
Abaixo uma alternativa que consegue fazer mudança.

In [25]:
exec(f'comprar = comprar._replace({item}=12)')
comprar

Lista(data='03/06/2021', mercado='M. São João', banana=12, leite=2, sabao=1, ovo=12)

A implementação acima funciona pq a função f resolve o {} e depois o texto é aplicado em exec.